APP_NAME=TSlurmOps API
API_V1_PREFIX=/api/v1
DEBUG=true
SECRET_KEY=change-this-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
DATABASE_URL=sqlite:///./data/tslurm_ops.db
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=admin
INITIAL_ADMIN_NAME=Administrator

OVERVIEW_URL=http://192.168.0.135:3000/d/adxzlf8/dashboard?orgId=1&from=now-5m&to=now&timezone=browser&refresh=5s&kiosk=true
NODE_URL=http://192.168.0.135:3000/d/rYdddlPWk/node?orgId=1&from=now-24h&to=now&timezone=browser&refresh=1m&kiosk=true
JOB_URL=http://192.168.0.135:3000/d/bX7jn6dZk/slurm?orgId=1&from=now-2d&to=now&timezone=browser&refresh=30s&kiosk=true
GPU_URL=http://192.168.0.135:3000/d/Oxed_c6Wz/dcgm?orgId=1&from=now-15m&to=now&timezone=browser&kiosk=true
POWER_URL=http://192.168.0.135:3000/d/UKjaSZf7z/power?orgId=1&from=now-6h&to=now&timezone=browser&kiosk=true
K8S_URL=http://192.168.0.135:3000/d/b365c136-723f-482a-bcd7-cafd6b677f89/k8s?orgId=1&from=now-5m&to=now&timezone=browser&var-Node=$__all&var-NameSpace=$__all&var-Container=$__all&var-Pod=$__all&refresh=1m&kiosk=true
SNMP_URL=http://192.168.0.135:3000/d/7qKD6I1Wk/snmp-stats?orgId=1&from=now-5m&to=now&timezone=browser&var-Job=snmp%20exporter&var-Filters=&refresh=30s&kiosk=true

TERMINAL_TARGETS=master,node-a,node-b
